*{
    font-family: 'Rokkitt', serif;
}

html, body{
  width: 100%;
  height: 100%;
}
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.col-sm-2:hover img{ 
  transform: scale(1.1); 
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #383838;
  color: white;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    color: #000000;
    cursor: pointer;
    font-size: 30px;
}
.logo img{
    width:70px;
    margin-top: -7px;
    margin-right: 48px;
}
.app-text{
  width: 20%;
  float: left;
}
.app-text h1{
  position: absolute;
  width: 908px;
  height: 135px;
  left: 100px;
  top: 20px;

  font-family: Rokkitt;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 2px;
    text-align: center;
}
.app-text p{
  position: absolute;
  width: 807px;
  height: 88px;
  left: 50%;
  top: 263px;

  font-family: Rokkitt;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 55px;
  text-align: center;

  color: #000000;
}
.app-picture{
  position: absolute;
  width: 500px;
  height: 315px;
  overflow: hidden;
  left: 50px;
  top: 160px;

  transform: matrix(1, 0, 0.03, 1, 0, 0);
}
.app-picture2{
  position: absolute;
  width: 500px;
  height: 315px;
  overflow: hidden;
  left: 800px;
  top: 160px;

  transform: matrix(1, 0, 0.03, 1, 0, 0);
}
/*.app-picture img{
  width: 60%;
}
